*{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

main{
  /* height: 450px; */
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 5px;
}

.linha{
  display:flex;
  width: 270px;
  justify-content: space-between ;
  margin-bottom: 10px;
}

.linha div{
  border-radius: 100% ;
  background-color: rgb(60, 60, 60);
  padding: 20px;
  width: 20px;
  height: 20px;
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visor1{
  text-align: end;
  color: white;
  font-size: 50px;
  padding-right: 12px;
}

.cinza{
  background-color: rgb(175, 173, 173) !important;
  color: black !important;
}

.laranja{
  background-color: rgb(255, 170, 0) !important;
}

.largo{
  width: 90px !important;
  border-radius: 35px !important;
  
}
